
/**  --Variables-- **/
:root
{
  --darker-color: rgb(37,27,55);
  --dark-color: rgb(55,41,72);
  --light-color: rgb(255,202,202);
  --lighter-color: rgb(255,236,239);
  --yellow-color: rgb(255, 217, 61);
  --green-color: rgb(224, 255, 19);
  --bg-gradient: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  --neon-color: #00eeff;
  --departments-cards: #ECF2FF;
  --font-family: 'Poppins',sans-serif;
  --font-size: 1.3rem;
}

/** --Setup body-- **/
body
{
  min-height: 150vh;
  background: var(--bg-gradient);
  font-family: var(--font-family);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
}

/** --Main-- **/
main
{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** --Main container of the form-- **/
.container
{
  min-width: 27vw;
  background-color: var(--darker-color);
  padding: 2.5em .2em;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 3px var(--green-color);
}

:where(.container form, .container)
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.container form
{
  width: 95%;
}

/** --Div containing the Checkmark icon-- **/
.check-icon
{
  font-size: 2rem;
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1
{
  font-size: 1.9vw;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 1.8vw;
}

.container form input[type="text"]
{
  width: 100%;
  background-color: transparent;
  outline: none;
  color: white;
  border:none;
  transition: all 0.5s ease-in;
  border-bottom: 1px solid white;
  margin-bottom: 1em;
  font-size: 1.3vw;
}

.container form input[type="text"]::placeholder
{
  color: var(--green-color)
}

/** --Div for positioning email icon inside the input text-- **/
.container form .email
{
  position: relative;
  width: 85%;
}

.container form i
{
  position: absolute;
  font-size: 1.8vw;
  top: 1vw;
  right:0;
}

/** --Design and animation on submit button-- **/
.container form input[type="submit"]
{
  width: 60%;
  color: var(--neon-color);
  text-shadow: 0 0 0.2em hsl(0 0% 100% / 0.2), 0 0 0.3em var(--neon-color);
  box-shadow: inset 0 0 0.3em 0 var(--neon-color), 0 0 0.3em 0 var(--neon-color);
  border: 0.15em solid var(--neon-color);
  border-radius: .2em;
  font-size: 1.5vw;
  padding: .5em .2em;
  background-color: var(--darker-color);
  cursor: pointer;
  transition: all .5s ease;
}

/** --Button Animation effect on hover and focus-- **/
.container form input[type="submit"]:hover,
.container form input[type="submit"]:focus
{
  background-color: var(--neon-color);
  color: var(--darker-color);
  text-shadow: none;
}