@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Titan+One&display=swap');

/**  --Variables-- **/
:root
{
  --darker-color: rgb(37,27,55);
  --dark-color: rgb(55,41,72);
  --light-color: rgb(255,202,202);
  --lighter-color: rgb(255,236,239);
  --yellow-color: rgb(255, 217, 61);
  --green-color: rgb(224, 255, 19);
  --bg-gradient: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  /*linear-gradient(to right, #434343 0%, black 100%);
  linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  linear-gradient(19deg, #21D4FD 0%, #B721FF 100%)*/
  --neon-color: #00eeff;
  --departments-cards: #ECF2FF;
  --font-family: 'Poppins',sans-serif;
  --font-size: 1.3rem;
}

/** --Setup body-- **/
body
{
  min-height: 100vh;
  background: var(--bg-gradient);
  font-family: var(--font-family);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
}

/** --Main-- **/
main
{
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:flex-stretch;
  padding: 10rem 1rem 0;
  gap: 3em;
  overflow: hidden;
}

#student-name
{
  color: var(--green-color);
  margin-left: 2em;
}

/**--Used for student name and profile picture--**/
.profile
{
  display: flex;
  align-items: center;
  gap: 1em;
}

#profile-picture
{ 
  border: none;
  outline: none;
  background-color: white;
  border-radius: 50%;
}

#profile-picture img
{
  border-radius: 50%;
}
/**--End Student Profile Section--**/

.page-title
{ 
  font-family: 'Courgette';
  font-size: 3rem;
  font-weight: 600;
  color: var(--dark-color);
  text-align: center;
}

/**--Main container includes list of years--**/
.container
{
  background-color: hsla(245, 41%, 55%, 0.412);
  border-radius: 1em;
  padding: 2em .7em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  box-shadow: 6px 4px 6px 0px rgba(0,0,0,0.75);
}

.container form
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.arrow-buttons
{
  background: none;
  outline: none;
  border: none;
  margin-left: 2em;
  transition: all .3s ease-in;
}

/**--Used to rotate arrow icon to display hidden tables--**/
.rotate-button
{
  transform: rotateZ(180deg);
}

.year-title
{ 
  font-size: 1.3rem;
  font-weight: 600;
  padding: .5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/**--Hidden Tables that will be visible when arrow button clicked--**/
.table-toggle
{
  background-color: #F9F5F6;
  padding: 2em .7em;
  border-radius: 1em;
}

.courses-table
{ 
  border: .2em solid black;
  border-radius: 1em;
  border-collapse: collapse;

}

.courses-table th,
.courses-table td
{
  padding: .4em;
  border: 2px solid black;
}

.courses-table th
{
  font-weight: 700;
  font-size: 1.1rem;
}

.courses-table td
{
  font-size: 1.1rem;
}

/**--Table Sections Title (Primary-Optional)--**/
.table-title
{
  background-color: var(--darker-color);
  color: white;
}

/**--Table Columns Names--**/
.attributes
{
  background-color: var(--light-color);
}

/**--Student Average Section Under Grades Tables--**/
.grades-tables .average
{
  background-color: var(--lighter-color);
  margin-top: 1em;
  padding: 1em;
  border-radius: .5em;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--darker-color);
}

.register-courses
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 2em;
  border-radius: .5em;
  background-color: var(--dark-color);
}

.message
{
  width: 75%;
  height: 6.5em;
  padding: 1em;
  border-radius: .5em;
}

input[type="submit"]
{
  padding: .8em;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: .5em;
  outline: none;
  background-color: var(--neon-color);
  text-shadow: 0 0 0.2em hsl(0 0% 100% / 0.2), 0 0 0.3em var(--neon-color);
  box-shadow: inset 0 0 0.3em 0 var(--neon-color), 0 0 0.3em 0 var(--neon-color);
  border: 0.15em solid var(--neon-color);
}

/**--Checkboxes Design--**/
.checkbox-wrapper-64 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-64 *,
.checkbox-wrapper-64 ::after,
.checkbox-wrapper-64 ::before {
  box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-64 .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.checkbox-wrapper-64 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.checkbox-wrapper-64 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.checkbox-wrapper-64 .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

.checkbox-wrapper-64 input:checked + .slider {
  background-color: #007bff;
  border: 1px solid #007bff;
}

.checkbox-wrapper-64 input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

.checkbox-wrapper-64 input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}
/**------------------------------------------------------**/

/**--This parts is for Grades Page in User-Page--**/

.container #grades-form
{
  align-self: center; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/**--dropdown list--**/
.academic-year
{
  width: 13em;
  border: .2em solid var(--dark-color);
  background-color: var(--lighter-color);
  outline: none;
  padding: .2em;

}

/**--container for grades--**/
.grades-section
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

/**--container containing grades tables--**/
.grades-tables
{
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.grades-section table th
{
  font-size: 1.5rem;
}

.grades-section table td
{
  font-size: 1.3rem;
}

/**--Representation of compensation grade color--**/
.compensation
{
  background-color: rgb(0, 110, 255);
}

/**--Representation of failed grade color--**/
.failed 
{
  background-color: red;
}

/**--Representation of passed grade color--**/
.passed
{
  background-color: rgb(173, 255, 47);
}

/**--grade status color representation (Passed, compensation, failed)--**/
.colors
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: var(--light-color);
  border-radius: 1em;
  width: 13em;
  padding: 1em;
  gap: 1.5em;
}

.status
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 2em;
  border-radius: .5em;
}